* {
    font-family: var(--basic-font);
    margin: 0;
}

:root {
    --basic-font: 'Crimson Pro', serif;
    --background: rgba(255, 144, 14, 0.1);
    --button-back: #ffa500;
    --white-color: #FFFFFF;
    --dark-light:#727272;
    --dark-black: #000000;
}

/* navigation bar */
.nav-banner-container{
    border: none;
    height: 1180px;
    width: 100%;
    background-color:  rgba(255, 144, 14, 0.1);
}
.navigation-bar,
.nav-btn>ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    font-family: var(--basic-font);
    align-items: center;
    margin-top: 0px;
    width: 100%;

}

.navigation-bar {
    font-size: 45px;
}

.nav-btn ul {
    list-style: none;
    gap: 10px;
    font-size: 25px;
    margin-top: 35px;

}

/* Banner text and image  */
.txt-img-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.banner-txt {
    position: relative;
    border: none;
    width: 562px;
    height: 303px;
    margin-top: 55px;
    margin-left: 400px;
    margin-right: 523px;
    text-align: center;
    align-items: center;
}
.banner-body-text{
    position: absolute;
    border: none;
    width: 562px;
    height: 60px;
    margin-top: 35px;
    margin-left: 0px;
    margin-right: 523px; 
    text-align: center;
    align-items: center;
}
.banner-head-1{
    font-size: 65px;
    font-weight: 800;
    font-family: var(--basic-font);
    color: black;
}
.explore-more-btn{
    background-color: #ffa500;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    width: 120px;
    height: 40px;
    font-size: 18px;
    padding: 5px;
    margin-top: 100px;
}
/* .banner-img{
    margin-top: 50px;   
} */
.banner-img{
    width: 1000px;
    height: 600px;
    margin-left: 170px;
    margin-bottom: 70px;
    margin-top: 80px;
    position: relative;
    background-image: url(/images/banner.png);
    background-position: center;
    /* background-repeat: no-repeat; */
} 
/* Grid-text box */
.grid-txt-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
    gap: 20px;
    margin: 50px 200px 70px 170px;
}
.grid-img-box{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.grid-txt{
    margin-top: 180px;
    position: relative;
    width: 310px;
    height: 280px;
    border: none;
}
.grid-heading{
    font-size: 45px;
    font-weight: 800;
    color: var(--dark-light);
}
.sp-1{
    color: var(--dark-black);
}
.sp-2{
    color: var(--button-back);
}
.grid-para{
    color: var(--dark-light);
    margin-top: 22px;
    text-align: justify;
}
/* Feature of love and enjoy */
.feature-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin: 15px 130px 50px 155px;
    border: none;
    position: relative;
}
.feature-head h1{
    border-left: 5px solid var(--button-back);
    font-size: 40px;
    font-family: var(--basic-font);
    font-weight: 800;
    padding: 20px;
}
.feature-head p{
    color: var(--dark-light);
    padding: 15px;
    text-align: justify;
}

.feature-title{
    border: -5px solid var(--dark-light);
    border-collapse: separate;
    box-shadow:  5px 5px 5px var(--dark-light);
    width: 400px;
    height: 130px;
}
.feature-image{
    position: relative;
    z-index: 1;
} 
.feature-image img{
    position: relative;
    width: 100%;
    height: 100%;
   
}
.special-msg-box{
    background-color: var(--button-back);
    color: var(--white-color);
    position: absolute;
    width: 200px;
    height: 120px;
    text-align: center;
    z-index: 5;
    right: 60%;
    bottom: 80%;
    opacity: .7;
}
/* some-facts-box */

.some-facts-box{
    border: none;
    width: 400px;
    height: 100px;
    margin-left: 130px;
}
.facts-para{
    text-align: justify;
    margin-top: 10px;
    color: var(--dark-light);
}
.facts-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2px; 
    border: none;
    width: 1050px;
    height: 250px;
    margin-left: 50px;
    position: relative;
}

.icon{
    position: relative;
    border: 1px solid var(--button-back);
    width: 130px;
    height: 130px;
    margin: 70px 0px 250px 0px ;
    border-radius: 5px;
    align-items: center;
}

.icon-image img{
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    left: 25%;
    top: 2%;
}
.head-text{
    position: absolute;
    border: none;
    height: 65px;
    width: 80px;
    left: 17%;
    bottom: 5%;
}
.icon h2, p{
    text-align: center;
} 

/* sponsor box  */
.sponsor-heading{
    border: none;
    width: 420px;
    height: 100px;
    text-align: center;
    /* margin: 50px 300px 0px 400px; */
    margin: 292px 400px 50px 420px;
}
.logo-sponsor{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 5px;
    width: 1040px;
    margin: 45px 120px 100px 130px;
}
.grayscale_effect {
    filter: grayscale(100%);
}
/* Our Team  */
.team-heading{
    border: hidden;
    width: 330px;
    margin: 50px 120px 50px 480px;
    font-size: 22px;
    font-weight: 800;
}
.team-image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.team-image img{
    width: 100px;
    height: 100px;
    margin: 5px;
    margin-right: 70px;
}
.logo h3::before{
    color: var(--dark-black);
    text-decoration: none;
}
.logo:hover h3::after{
    color: blue;
    
}
/* Footer-bottom  */

.footer-bottom{
    border: none;
    background-color: var(--background);
    text-align: center;
    margin-top: 80px;
    margin-left: 120px;
    margin-bottom: 100px;
    width: 1050px;
    height: 50px;
    padding-top: 25px;
}

/* Hover  */
.change:hover{
    border: 2px solid blue;
    border-radius: 50%;
}
.change-box:hover{
    border: 2px solid blue;
}
.change-box-2:hover{
    border: 2px solid blue;
    border-radius: 5px;
}
.hover-underline:hover{
    text-decoration: underline;
    text-decoration-color: blue;
  }
/* Media query */
@media only screen and (max-width: 688px) {

    .navigation-bar,
    .nav-btn>ul {
        flex-direction: column;
        align-content: flex-start;
    }
    .txt-img-container{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }
    .banner-txt {
        position: relative;
        border: none;
        width: 100%;
        height: auto;
        margin-top: 55px;
        margin-left: 400px;
        margin-right: 523px;
        text-align: center;
        align-items: center;
    }
    .sponsor-heading{
        width: 100%;
        margin-left: 0;
    }
    .logo-sponsor{
        flex-direction: column;
        width: 100%;
        margin-left: auto;
    }
    .footer-bottom{
        width: 100%;
        margin-left: auto;
    }
    .team-image{
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }
}